{% extends 'base.html' %}
{% block title %}主页{% endblock %}
<link rel="stylesheet" href="/static/css/host.css">
{% block body %}

    <div class="row">
      <h3>例检{{ name }}</h3>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="icon_content_area">
                <div class="icon_content_holder center_content text-center">
                    <div class="icon_content_box">
                        {% for host in hosts %}
                        <div class="icon_column pull-left">
                            <a href="#">
                                <span>{{ host }}</span>
                                <div class="icon_photo"><img src="/static/img/host1.png" alt="SCPAS"></div>
                                <p><a href="/check/lj_check/?hostname={{ host }}" class="btn btn-primary" role="button">例检</a></p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
    <button type="button" class="btn btn-default call_back_class" onclick="javascript:history.back(-1);">返回</button>
    </div>


{% endblock %}