{% extends 'base.html' %}
{% block title %}自动例检{% endblock %}
<link rel="stylesheet" href="/static/css/host.css">
{% block body %}
<style type="text/css">
    h4 {
    font-size: 18px;
    line-height: 1.2;
    padding: 2px 0 2px 10px;
    border-left: 4px solid #09C878;
}
</style>
  <h3><strong>自动例检</strong></h3><br>
  <div class="container">
    {% for host in data %}
    <div class="row">
        <h4>{{ host[0] }}
            <input type="image" src="/static/img/up2.png" value="{{ host[0] }}" onclick="openClose(this)">
        </h4>
        <hr>
        </div>
    <div class="row"  id="{{ host[0] }}" style="display:block;">
        <div class="col-md-12">
            <div class="icon_content_area">
                <div class="icon_content_holder center_content text-center">
                    <div class="icon_content_box">
                        {% for cluste in host[1] %}
                        <div class="icon_column pull-left">
                            <a href="#">
                                <span>{{ cluste }}</span>
                                <div class="icon_photo"><img src="/static/img/host2.png" alt="SCPAS"></div>
                                <p><a href="/check/lj_check/?clustename={{ cluste }}" class="btn btn-primary" role="button" data-toggle="tooltip" data-placement="left" title="例检集群">例检</a>
                                    <a href="/check/info/?name={{ cluste }}" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="left" title="例检主机">详细</a></p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
  {% endfor %}
  </div>
<script type="text/javascript">
    function openClose(obj){
        var divHosts = document.getElementById(obj.value);
        if(divHosts.style.display === "block"){
			divHosts.style.display = "none";
			obj.src = "/static/img/down2.png";
		}else{
			divHosts.style.display = "block";
			obj.src = "/static/img/up2.png";
		}
}
</script>
{% endblock %}