{% extends 'base.html' %}
{% block title %}自动例检{% endblock %}
<link rel="stylesheet" href="/static/css/host.css">
{% block body %}

  <h3><strong>自动例检</strong></h3>
  <div class="container">
    {% for host in data %}
        <hr />
        <h4><strong>{{ host[0] }}</strong></h4>
    <div class="row">
        <div class="col-md-12">
            <div class="icon_content_area">
                <div class="icon_content_holder center_content text-center">
                    <div class="icon_content_box">
                        {% for cluste in host[1] %}
                        <div class="icon_column pull-left">
                            <a href="#">
                                <span>{{ cluste }}</span>
                                <div class="icon_photo"><img src="/static/img/host2.png" alt="SCPAS"></div>
                                <p><a href="/check/lj_check?clustename={{ cluste }}" class="btn btn-primary" role="button" data-toggle="tooltip" data-placement="left" title="例检集群">例检</a>
                                    <a href="/check/info?name={{ cluste }}" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="left" title="例检主机">详细</a></p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
  {% endfor %}

{% endblock %}