{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table class="table table-striped">
			<tobody>
			  <th>序号</th>
			  <th>网元类型</th>
			  <th>网元名称</th>
			  <th>主机名称</th>
			  <th>操作</th>
			</tobody>
			<tr>
			<td>1</td>
			<td>SCPAS</td>
			<td>scpas03</td>
			<td>SAS031</td>
			<td><a class="btn btn-primary btn-xs" href="#" role="button">删除</a><a class="btn btn-default btn-xs" href="#" role="button">修改</a></td>
			</tr>
		</table>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table class="table table-striped">
			<tobody>
			  <th>序号</th>
			  <th>网元类型</th>
			  <th>网元名称</th>
			  <th>主机名称</th>
			  <th>操作</th>
			</tobody>
			<tr>
			<td>1</td>
			<td>SCPAS</td>
			<td>scpas03</td>
			<td>SAS031</td>
			<td><a class="btn btn-primary btn-xs" href="#" role="button">删除</a><a class="btn btn-default btn-xs" href="#" role="button">修改</a></td>
			</tr>
            <tr>
			<td>1</td>
			<td>SCPAS</td>
			<td>scpas03</td>
			<td>SAS031</td>
			<td><a class="btn btn-primary btn-xs" href="#" role="button">删除</a><a class="btn btn-default btn-xs" href="#" role="button">修改</a></td>
			</tr>
            <tr>
			<td>1</td>
			<td>SCPAS</td>
			<td>scpas03</td>
			<td>SAS031</td>
			<td><a class="btn btn-primary btn-xs" href="#" role="button">删除</a><a class="btn btn-default btn-xs" href="#" role="button">修改</a></td>
			</tr>
            <tr>
			<td>1</td>
			<td>SCPAS</td>
			<td>scpas03</td>
			<td>SAS031</td>
			<td><a class="btn btn-primary btn-xs" href="#" role="button">删除</a><a class="btn btn-default btn-xs" href="#" role="button">修改</a></td>
			</tr>
            <tr>
			<td>1</td>
			<td>SCPAS</td>
			<td>scpas03</td>
			<td>SAS031</td>
			<td><a class="btn btn-primary btn-xs" href="#" role="button">删除</a><a class="btn btn-default btn-xs" href="#" role="button">修改</a></td>
			</tr>
            <tr>
			<td>1</td>
			<td>SCPAS</td>
			<td>scpas03</td>
			<td>SAS031</td>
			<td><a class="btn btn-primary btn-xs" href="#" role="button">删除</a><a class="btn btn-default btn-xs" href="#" role="button">修改</a></td>
			</tr>
            <tr>
			<td>1</td>
			<td>SCPAS</td>
			<td>scpas03</td>
			<td>SAS031</td>
			<td><a class="btn btn-primary btn-xs" href="#" role="button">删除</a><a class="btn btn-default btn-xs" href="#" role="button">修改</a></td>
			</tr>
            <tr>
			<td>1</td>
			<td>SCPAS</td>
			<td>scpas03</td>
			<td>SAS031</td>
			<td><a class="btn btn-primary btn-xs" href="#" role="button">删除</a><a class="btn btn-default btn-xs" href="#" role="button">修改</a></td>
			</tr>
            <tr>
			<td>1</td>
			<td>SCPAS</td>
			<td>scpas03</td>
			<td>SAS031</td>
			<td><a class="btn btn-primary btn-xs" href="#" role="button">删除</a><a class="btn btn-default btn-xs" href="#" role="button">修改</a></td>
			</tr>

		</table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseOne">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

</div>


{% endblock %}